/* General Styling */
body {
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Calendar Styling */
.calendar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 40px #ffffff;
  overflow: hidden;
  width: 300px;
  color: #000000;
  padding: 20px;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #000000;
}

/* Button Styling */
.btn {
  cursor: pointer;
}

/* Month and Year Styling */
#month-year {
  font-weight: bold;
  font-size: 20px;
}

/* Weekdays and Days Layout */
.weekdays, .days {
  display: flex;
  flex-wrap: wrap;
}

.days {
  height: 240px;
}

.weekdays div, .days div {
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

/* Day Styling */
.days div {
  cursor: pointer;
  transition: background-color 0.3s;
}

.days div:hover {
  background-color: rgba(231, 231, 231, 0.952);
  color: rgb(0, 0, 0);
}

/* Today Styling */
.days .today {
  background-color: #000000;
  color: white;
}

/* Fade Styling for Previous and Next Month Days */
.days .fade {
  color: rgb(173, 173, 173);
}
